

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 15px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}


.generation {
  padding: 120px 0;
  background-color: #f7f7f7;
  @media (max-width: 900px) {
    padding: 80px 0;
  }
  @media (max-width: 600px) {
    padding: 30px 0;
  }
}

.block {
  text-align: center;

  &__icon {
    margin: 0 0 20px 0;
  }

  &__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    line-height: 24px;
    margin: 20px 0 20px 0;
  }

  &__text {
    color: #848789;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;

    &_j {
      text-align: justify;
      color: #848789;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      margin: 0 38px;

      &:after {
        content: '';
        display: block;
        margin: 35px auto 0 auto;
        width: 50px;
        height: 1px;
        background-color: #ebebeb;
      }
    }
  }
}

.brands {

  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 33.333%;

    &_b {
      flex: 0 1 66.667%
    }
  }


  &__content {
    position: relative;
    padding: 70px 65px 55px 65px;
    //arrow
    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      z-index: 2;
    }
  }

  &__image {
    padding: 0 0 37.5% 0;
  }

  @media (max-width: 1400px) {
    &__content {
      padding: 40px 35px 30px 35px;
    }
    @media (max-width: 1100px) {

      &_last {
        .brands__column {
          &:nth-child(1) {
            order: 2;
          }

          &:nth-child(2) {
            order: 0;
          }

          &:nth-child(3) {
            order: 3;
          }
        }
      }
      &__row {
        flex-direction: column;
      }
    }
  }

}

.item {
  display: block;
  position: relative;
  height: 100%;

  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    span {
      margin: 10px 0 0 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.8px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @media (max-width: 1100px) {
    height: auto;
    padding: 0 0 65% 0;
  }
}

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0;

  .slider__item {
    text-align: center;
  }

  &__icon {
    margin: 0 0 20px 0;
  }

  &__title {
    margin: 0 0 20px 0;
    letter-spacing: 1.8px;
    font-weight: 700;
    font-size: 18px;
    color: #353738;
    span {
      color: #848789;
      font-weight: 300;
      letter-spacing: 1.8px;
    }
  }

  &__text {
    text-align: center;
    color: #848789;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    padding: 0 0 80px 0;
  }

  &__dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    &_white {
      height: 10px;
      width: 10px;
      background-color: #fff;
      border: 1px solid #bbb;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.shop {
  &__body {
    display: flex;
  }
  &__column {
    flex: 0 1 16.666%;
    }
  &__column_b {
    flex: 0 1 33.333%;
  }
  &__footer {
    background-color: #282f35;
    padding: 75px;
    display: flex;
    align-items: center;
  }
  &__btn {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 56px;
    letter-spacing: 2.8px;
    text-decoration: none;
    line-height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  @media (max-width: 1100px) {
    &__body {
    flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;
      &:first-child {
        flex: 1 1 100%;
      }
      &:last-child {
        flex: 1 1 100%;
      }
    }
    &__btn {
      padding: 30px;
    }
    &__footer {
      padding: 40px
    }
  }
}



.block-shop {
  height: 100%;
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__item {
    height: auto;
    padding: 0 0 50% 0;
  }
  &__item_b {
    padding: 0 0 200% 0;
  }
  &__item_l {
    padding: 0 0 100% 0;
  }
}

.subscribe {
  &__body {
    padding: 110px 0;
    max-width: 534px;
    margin: 0 auto;
    text-align: center;
  }
  &__logo {
    margin: 0 0 39px 0;
  }
  &__title {
    color: #848789;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    margin: 0 0 35px;
  }
  &__form {
    display: flex;
  }
  &__input {
    flex: 1 1 auto;
    padding: 0 8px 0 0;
    input {
      width: 100%;
      height: 67px;
      border: 1px solid #d3d7d9;
      background-color: #ffffff;
      padding: 0 28px;
      color: #929292;
      font-size: 20px;
      font-style: italic;
    }
  }
  &__button {
    flex: 0 0 126px;
  }
  &__btn {
    /* Style for "Shape 5 co" */
    width: 100%;
    height: 69px;
    background-color: #64c29e;
    border: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
  }
  @media (max-width: 750px) {
    &__body {
      padding: 50px 0;
    }
  }
  @media (max-width: 500px) {
    &__form {
      flex-direction: column;
    }
    &__input {
      padding: 0 0 5px 0;
    }
  }
}
